.brands{

    padding:70px 8%;
    background:white;

}


.brands-header{

    text-align:center;
    margin-bottom:40px;

}


.brands-header span{

    color:#D52B1E;
    font-weight:bold;

}


.brands-header h2{

    color:#0039A6;
    font-size:35px;

}



.brands-grid{

    display:grid;
    grid-template-columns:repeat(5,1fr);
    gap:25px;

}



.brand-card{

    height:100px;

    background:#F2F4F7;

    display:flex;
    align-items:center;
    justify-content:center;

    border-radius:12px;

    color:#0039A6;

    font-size:22px;
    font-weight:bold;

    transition:.3s;

}



.brand-card:hover{

    transform:translateY(-5px);

    background:#0039A6;

    color:white;

}



@media(max-width:900px){

    .brands-grid{

        grid-template-columns:repeat(3,1fr);

    }

}