.contact{

    padding:80px 8%;

    background:#F2F4F7;

}



.contact-container{

    background:#0039A6;

    color:white;

    border-radius:20px;

    padding:50px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    gap:40px;

}



.contact-text{

    width:50%;

}


.contact-text span{

    color:#D52B1E;

    background:white;

    padding:8px 15px;

    border-radius:20px;

}



.contact-text h2{

    font-size:38px;

    margin:25px 0;

}



.contact-info{

    background:white;

    color:#333;

    padding:30px;

    border-radius:15px;

}



.contact-info div{

    margin:15px 0;

}



@media(max-width:900px){

.contact-container{

    flex-direction:column;

}


.contact-text{

    width:100%;

}

}